@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #docs-root {
    @apply
      font-inter
      text-slate-100;
  }

  #docs-root > div {
    @apply
      font-inter
      text-slate-100
      justify-start
      p-6
      lg:p-10;
  }

  #docs-root > div > div h1,
  #docs-root > div > div h2,
  #docs-root > div > div h3 {
    @apply
      pb-0
      border-b-0
      font-inter
      font-bold
      mt-6
      mb-1;
  }

  #docs-root > div > div h1 {
    @apply
      text-4xl;
  }

  #docs-root > div > div h2 {
    @apply
      text-3xl
      leading-9;
  }

  #docs-root > div > div h3 {
    @apply
      text-2xl
      leading-6;
  }

  #docs-root > div > div > p {
    @apply
      mb-3
      font-normal
      font-inter
      text-base
      mt-3;
  }
  
  #docs-root > div > div > *:first-child {
    @apply
      mt-0;
  }

  #docs-root strong {
    @apply
      font-medium
    text-[#1ea7fd];
  }

  #docs-root h1 > strong,
  #docs-root h2 > strong,
  #docs-root h3 > strong {
    @apply
      font-bold
    text-[#1ea7fd];
  }

  #docs-root strong > code {
    @apply
      text-slate-100
      font-inter
      bg-zinc-600/40
      px-2
      py-1
      rounded-md;
  }

  #docs-root ul {
    @apply
      pl-[40px]
      mb-0
      font-normal
      font-inter
      flex
      flex-col
      gap-3
      mt-0;
  }

  #docs-root li {
    @apply
      font-normal
      font-inter
      m-0
      text-base
      leading-normal
      first:pt-3;
  }

  #docs-root p + ul > li {
    @apply
      first:pt-0;
  }

  #docs-root a {
    @apply
      font-normal
      font-inter
      text-[#1ea7fd]
      underline
      underline-offset-4
      hover:text-[#389cda];
  }

  #docs-root blockquote {
    @apply
      font-inter
      m-0
      my-2
      py-1.5
      px-5
      border-solid
      border-y-0
      border-r-0
      border-l-[6px]
      border-l-[#272727]
      bg-[#2b2a2a];
  }
}