@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  span.token {
    @apply
      leading-[1.5]
      font-code
      text-inherit;
  }
}

@layer components {
  .highlight-tokens .token-line:has(.deleted:not(:empty)) {
    background-color: rgba(211, 74, 74, 0.2);
  }

  .highlight-tokens .token-line:has(.deleted:not(:empty)) .deleted:not(:empty) {
    color: rgb(209, 154, 102);
  }
  
  .highlight-tokens .token-line:has(.inserted:not(:empty)) {
    background-color: rgba(167, 212, 142, 0.2);
  }

  .highlight-tokens .token-line:has(.inserted:not(:empty)) .inserted:not(:empty) {
    color: rgb(152, 195, 121);
  }
}
